.send-box1 {
  width: 100%;
  position: absolute;
  bottom: 60px;
  display: flex;
  justify-content: center;
}
.send-box2 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1300px) {
  .send-box1 {
    bottom: 40px;
  }
}
@media screen and (max-width: 1100px) {
  .send-box1 {
    bottom: 35px;
  }
  .send-box2 {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  .send-box1 {
    bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  .send-box1 {
    bottom: 25px;
  }
  .send-box2 {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .send-box1 {
    bottom: 20px;
  }
  .send-box2 {
    width: 85%;
  }
}

@media screen and (max-width: 425px) {
  .send-box2 {
    width: 90%;
  }
}
