.h-box1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h-box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.h-box4 {
  border-radius: 3px;
  flex: 1;
  min-height: 105px;
  max-height: 195px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.h-box4:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05), 0 4px 5px rgba(0, 0, 0, 8%), 0 2px 4px -1px rgba(0, 0, 0, 12%);
}
.h-box4-title {
  text-align: center;
}
