.s-box1{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.s-box2{
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    /* border: 1.5px solid; */
    cursor: pointer;
}